@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@500&family=Rubik:wght@300&display=swap');

/* Body */
:root {
  --b: #000000;
  --w: #FFFFFF;
  --g: #D8334A;
  --primary: #BB86FC;
  --primary-v: #740d0d;
  --bb: red;
  --ob: #0e1010;
}

html, body {
  font-size: 15pt;
  font-family: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000000;
  color: white;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
}

div,
span,
button,
input,
textarea {
  list-style: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
}

div::-webkit-scrollbar {
  width: 0;
}

.hover-1:hover {
  background: #263a3f;
}

ul,
li {
  list-style: none;
}

/* color */
.red {
  background: #af0000;
}

.green {
  background: #21b200;
}

/* Tool Kit*/

.fas,
.fa-regular,
.far {
  color: white;
}

/* Popper */
.popper {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 0;
  position: fixed;
  bottom: 0;
  border-top: 1px solid red;
  background: black;
  box-shadow: 0 2px 4px red inset;
  transition: height 0.2s ease;
  max-height: calc(100% - 50px);
}

.popper > .popper-1 {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popper > .popper-1 > div {
  width: 40%;
  height: 5px;
  background: #46dcdd;
  border-radius: 25px;
}

.popper > .popper-2 {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

/* main */

.body,
.body2 {
  color: white;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

.child,
.child2 {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
}

.body2 {
  position: relative;
  height: calc(100% - 101px);
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}

/* main page */

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.h-name {
  text-align: center;
  font-style: italic;
  font-size: 20pt;
  margin-top: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  background: linear-gradient(to right, red, blue, cyan);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.h-chat {
  margin-left: auto;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-line {
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
}

.h-line>div {
  width: 95%;
  height: 100%;
  background: var(--w);
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid red;
  display: flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px -2px 2px red;
}

.footer-1 {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0s;
}

.footer-active {
  border-bottom: 5px solid var(--primary-v);
  border-radius: 25px;
  border-top: 1px solid var(--primary-v);
}

.profile-1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* post maker */

.c1-1 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
}

.c1-2 {
  width: 100%;
  display: flex;
}

.c1-3 {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.c1-4 {
  margin-left: 5px;
  margin-top: 20px;
  width: 80%;
}

.c1-4 > textarea {
  background: var(--b);
  color: var(--w);
  width: 100%;
  height: auto;
  border: none;
  border-radius: 25px;
  background: var(--ob);
  padding: 10px;
}

.c1-5 {
  width: 100%;
  margin-top: 10px;
  height: 200px;
  overflow-y: hidden;
  display: flex;
}

.c1-55 {
  width: auto;
  height: 100%;
  position: relative;
  margin-right: 5px;
}

.c1-55 > div {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c1-55 > img {
  height: 100%;
  width: auto;
  border-radius: 25px;
}

.c1-6 {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--w);
  background: var(--b);
  display: flex;
}

.c1-66 {
  width: calc(100% / 5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.c1-66 > input {
  width: 100%;
  height: 100%;
  display: none;
}

.c1-7 {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1-8 {
  width: 50px;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1-circle {
  position: relative;
}

.c1-prog {
  position: relative;
  width: 25px;
  height: 25px;
}

.c1-prog > span {
  color: white;
  font-size: 5pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* toast */
.toast-container {
  position: fixed;
  bottom: 50px;
  color: white;
  right: 0;
}

.toast-container > .toast {
  position: relative;
  padding: 5px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 25px;
  font-family: Arial, sans-serif;
  text-align: left;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 20px;
  display: none;
  right: 10px;
  font-size: 12pt;
}

/* post-cards */
.f1 {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
}

.post-card:first-child {
  margin-top: 10px;
}

.post-card {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  background: var(--ob);/*#0e1010; #191f20;*/
  border-radius: 25px;
 /* border-bottom-right-radius: 0;*/
/*  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;*/
}

.post-card-1 {
  width: 95%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.post-card-1 > img {
  width: 50px;
  height: 100%;
  border-radius: 50%;
}

.post-card-1 > div {
  color: white;
  display: flex;
  font-size: 12pt;
  width: 70%;
  flex-direction: column;
  margin-left: 5px;
}

.post-card-1 > div > span {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.post-card-1 > div .post-time {
  font-size: 8pt;
  color: grey;
}

.post-card-1 .Tdots {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-left: auto;
}

.post-card-2 {
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 5px;
}

.post-card-2 > div {
  width: 100%;
  color: white;
  font-size: 10pt;
  word-wrap: break-word;
}

.post-card-3 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 95%;
  display: flex;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.post-card-3 > div {
  width: 100%;
  scroll-snap-align: start;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  position: relative;
}

.post-card-3 > div > img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.post-card-3 > div #imgss {
  padding: 10px;
  position: absolute;
  left: 0;
  color: white;
  font-size: 10pt;
  top: 0;
}

.post-card-5 {
  width: 95%;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.post-card-5 > div {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 12pt;
}

.post-card-5 > div > span {
  margin-left: 2px;
}

/* profile */
.f4 {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
}

.pro-1 {
  width: 95%;
  background: var(--ob);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.pro-2 {
  width: 100%;
  height: 100px;
  top: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.pro-3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
/*  left: 50%;
  transform: translateX(-50%);*/
  position: relative;
  top: -30px;
  left: 10px;
  border: 5px solid var(--ob);
}

.pro-4 {
  color: white;
  font-size: 13pt;
  width: 95%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 25px;
  left: 10px;
}

.pro-5 {
  font-weight: bold;
}

.pro-6 {
  word-wrap: word-break;
  font-size: 10pt;
}

.pro-7 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 10px;
}

.pro-7 > div {
  width: calc(100% / 3.5);
  background: #212526;
  text-align: center;
  border-radius: 25px;
  font-size: 8pt;
  padding-top: 5px;
  padding-bottom: 5px;
  color: grey;
}

.pro-7 > div > #pro-8 {
  font-size: 12pt;
}

.pro-9 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10pt;
}

.post-opts {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.post-opts > div {
  width: 90%;
  height: 20px;
  margin-left: 10px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.post-opts > div > i {
  margin-right: 10px;
}

/* Animation keyframes */
@keyframes slideInRight {
  0% {
    right: -300px;
  }
  100% {
    right: 20px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
